[Desktop Entry]
Name=MineBlock
Comment=Fun with Minecraft together with learning to program
Exec=python /home/pi/mineblock/mineblock.py
Icon=/home/pi/mineblock/ncblock/static/images/icons/mineblock.png
Terminal=false
Type=Application
Categories=Application;Game;
StartupNotify=true

